 .gestion-marcas {
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;
    padding-top: 1em;
  }

.imglogoregistro {
    background-color: white;
    border-radius: 50px;
    display: block;
    margin: auto;
    padding: .1em;
    max-height: fit-content;
    margin-top: 2em;
}

.menu-principal {
  ul.nav {
    margin-bottom: 20px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1em;
    background-color: #f6f6f6;
    border-radius: 4px;

    li.nav-item {
      a.nav-link {
        color: #333; // Cambia a tu color preferido para los enlaces.
        transition: color 0.3s;
        border-radius: 4px;

        &:hover {
          color: #007bff; // Cambia a tu color preferido para el estado hover.
          background-color: #f6f6f6; // Cambia a tu color preferido para el fondo en hover.
        }

        &.active {
          color: #fff; // Cambia al color que prefieras para el enlace activo.
          background-color: #007bff; // Cambia al color de fondo que prefieras para el enlace activo.
        }
      }

      a.nav-link.disabled {
        color: #ccc; // Cambia a tu color preferido para los enlaces desactivados.
        pointer-events: none;
        background-color: transparent;

        &:hover {
          color: #ccc;
          background-color: transparent;
        }
      }
    }
  }
}

.marcas-manage {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;



  .table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f2f2f2;
    }

    td {
      text-align: center;
    }

    button {
      padding: 5px 10px;
      margin: 5px 5px;
      cursor: pointer;
      border: none;
      background-color: #4caf50;
      color: white;
      border-radius: 4px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #45a049;
      }
    }
  }
}
