.pacientes-manage {
  background-color: #f6f9fc;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;

  #guardar-paciente-actualizado {
        background-color: #007AFF;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        padding: 0.5em 0.5em;
        border: none;
        margin-top: 1em;
        margin-bottom: 1em;
        max-width: 30%;
    
        &:hover {
    background: linear-gradient(45deg, #72adf9, #72adf9);
        }
    }

 tr {
    display: revert;
    margin-bottom: 0.625rem;
}
  
  h2 {
    text-align: center;
    margin-bottom: 1em;
  }

  table {
    width: 100%;

    th, td {
      padding: 0.5em;
      border: 1px solid #e1e1e1;
      text-align: left;
    }

    th {
      background-color: #007AFF;
      color: white;
    }

    td {
      background-color: white;
      color: #333;
    }

    button {
      padding: 0.5em 2.5em;
      border: none;
      background-color: #007AFF;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      margin: auto;

      &:last-child {
        margin-top: 1em;
      }

      &:hover {
    background: linear-gradient(45deg, #72adf9, #72adf9);
      }
    }

    
  }
}
