.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
  background: linear-gradient(45deg, #72adf9,  #0a889c);
    color: #fff;
}

.filter-section {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 1em;
    justify-content: center;

}

.error-message {
    margin: auto;
    justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin: auto;

}

td {
    border: 1px solid #868686;
    text-align: center;
    padding: 1px;
    margin: auto;
    background-color: #dddddd;
    font-size: small;

}

th {
    background-color: #f2f2f2;
    font-size: small;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

button {
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    margin-top: 3em;
}

.transacciones h1 {
    color: white;
    font-size: 3em;
    margin-top: .5em;
}

.contenedor-transacciones {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    background-color: #e7e7e7;
    filter: drop-shadow(8px 8px 8px rgb(231, 231, 231));
    color: #000000;
    cursor: pointer;
    height: 100px;
    box-shadow: inset;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
    color: white;
    margin-top: -3em;
    align-items: center;
    margin-left: .7em;
}

.button-filter {
    font-size: 1em;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 5px;
    
}

.logos2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
    color: rgba(100, 216, 255, 0.45);
    margin-top: 1em;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.input {
    border-radius: 25em;
}

.transacciones {
    margin-top: 2em;
}

@media screen and (max-width: 768px) { /* Tablets */
.tablafecha{
    display: none;
}
}

@media screen and (max-width: 900px) { /* Tablets */
.tablafecha{
    display: none;
}

.transacciones h1 {
    font-size: 2em;
}

}

@media screen and (min-width: 1200px) { /* Tablets */
td, th {
    font-size: 1em;
    padding: 1em;
}

th {
    font-size: 1em;
    padding: 1em;
}
}