    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
    body {
          background: linear-gradient(45deg, #0a889c, #0e6474);

    }

    .img {
      max-width: 50%;
      margin-top: 2em;
    }
    .container {
      display: center;
      margin: auto;
      align-items: center;
      text-align: center;
      background-color: rgb(241, 241, 241);
      position: center;
      width: 25%;
      padding: 1em;
      margin-top: 2em;
      border-radius: 20%;
      font-family: Montserrat;
      border-width: thin;
      border-color: black;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .resultado{
      background: linear-gradient(45deg, #0a889c, #0e6474);
      min-width: 20em;
      margin: auto;
      padding: .5em;
      margin-top: 1em;
      margin-bottom: 1em;
      color: white;
      border-radius: 2em;
      width: 150px;
      height: 40px;
      padding: 0.5em;
      text-align: center;
      vertical-align: auto;
      
    }

    .boton-verde {
    width: 200px;
    height: 50px;
    background-color: #00b52e;
    color: white;
    border-radius: 2em;
    margin-top: 1em;
    font-size: 1em;
}

    .form-control   {
        width: 300px;
        height: 30px;
        margin: auto;    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: black;
        border-radius: 10px;
        background-color: aliceblue ;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    }

    .css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    max-width: 80%;
    margin: auto;
}
    .form-group-2{
        width: 300px;
        height: 50px;
        margin: auto;    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: black;
        border-radius: 10px;
        background-color: aliceblue ;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        padding: 1em;
        margin-top: 1.4em;
    }

    .h3{
      font-weight: 400;
      font-size: 1.5em;
    }
    h1 {
          padding-right: .5em;
          padding-left: .5em;
          margin-top: -1em;

    }
    

    .checkbox {
      margin-top: 0.5em;
      font-size: 1.3em;
    }

    .form-group-3{
      margin-top: 1em;
    }

    @media (max-width: 576px) {
    .container {
      width: 85%;
      margin: auto;
      margin-top: 2em;
      padding: 1em;
      border-radius: 30%;
      margin-bottom: 10em;
    }

    .h1 {
      font-size: 1em;
    }
  }

  @media (min-width: 577px) and (max-width: 767px) {
    .container {
          width: 80%;
      margin: auto;
      margin-top: 5em;
      padding: 1em;
      border-radius: 5%;
      margin-bottom: 10em;  }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .container {
          margin: auto;
      margin-top: 5em;
      padding: 1em;
      border-radius: 5%;
      margin-bottom: 10em;
    }

    .form-control   {
        width: .5em;
        height: 30px;
        margin: auto;    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: black;
        border-radius: 10px;
        background-color: aliceblue ;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        margin-right: 5%;
    }

    .form-group-2{
          width: 100px;
        height: 50px;
        margin: auto;    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: black;
        border-radius: 10px;
        background-color: aliceblue ;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        padding: 1em;
    }

  }

  @media (min-width: 992px) {
    .container {
      width: 80%;
      margin-bottom: 10em;
      

    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 100%;
      margin-bottom: 1em;
      

    }

  }



