.container {
  display: center;
  margin: auto;
  align-items: center;
  text-align: center;
  background-color: rgb(241, 241, 241);
  position: center;
  width: 25%;
  padding: 1em;
  margin-top: 2em;
  border-radius: 20%;
  font-family: Arial, Helvetica, sans-serif;
  border-width: thin;
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.totalpaquetedetabaco{
  background-color: #0da1b8;
  max-width: 8em;
  margin: auto;
  padding: .5em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}




